# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/
coverage/

# Pub cache/logs
.pub-cache/
.pub/
.buildlog/

# IDE
.idea/
*.iml
.DS_Store


# FVM
.fvm/
!.fvm/fvm_config.json

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.generated/

# macOS
macos/Pods/

# Web
lib/generated_plugin_registrant.dart


# FVM Version Cache
.fvm/